---
layout: default
title: world map
permalink: /worldmap
---
<style>
  body {
    background: url('/assets/images/map.gif') repeat; 
    background-size: cover;
    color: var(--mu);
  }

  #container {
    background: url('/assets/images/map.png') no-repeat; 
    background-size: contain;
    background-position: center;
    min-height: 100vh;
  }

  nav a {
    mix-blend-mode: hard-light;
    color: var(--shu);
  }

  .title {
    color: var(--mu);
  }

  .block a {
    color: var(--mu);
    text-decoration: underline;
  }
</style>

<div class="row">
  <div class="block">
    area 1: biome commons
    {% for item in site.data.world %}
      {% if item.area == 1 %}
        <li>🗁<a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="block" style="margin-left: auto; text-align: right;">
    area 2: neighborhood
    {% for item in site.data.world %}
      {% if item.area == 2 %}
        <li><a href="{{ item.link }}">{{ item.name }}</a>🗁</li>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="block">
    area 3: downtown
    {% for item in site.data.world %}
      {% if item.area == 3 %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="block" style="margin-left: auto; text-align: right;">
    area 4: off-road
    {% for item in site.data.world %}
      {% if item.area == 4 %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endif %}
    {% endfor %}
  </div>
</div>