---
layout: world
title: fauna/flora index
permalink: /laboratory/ffindex
status: accepting submissions
contributor: 
  - community
  - kyu
  - dizzy
---
<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ffindex.css">
</head>

<div>
  <div class="row">
    <div class="tab" id="tab-fauna" onclick="showTab('fauna')">🐚fauna</div>
    <div class="tab" id="tab-flora" onclick="showTab('flora')">🌷flora</div>
    <div class="tab" id="tab-submit" style="margin-left: auto; margin-right: 0;" onclick="showTab('submit')">📥submit</div>
  </div>

  <div class="content_container">
    <div class="tab_content" id="content-fauna">
      <div class="row" style="align-items: center">
        <div class="block list">
          {% assign faunaList = site.data.ffindex | where: "type", "fauna" %}
          {% for fauna in faunaList %}
            <div class="list_item" data-name="{{ fauna.species }}">
              <div style="color: tomato">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</div>
              <div>{{ fauna.species }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="block" style="flex: 4">
          {% for fauna in faunaList %}
            <div class="dex" data-title="{{ fauna.species }}" style="display: none">
              <div class="row dex_style">
                <div class="block" style="display: flex; justify-content: center; align-items: center;">
                  <img src="{{ fauna.image }}">
                </div>
                <div class="block">
                  <table>
                    <tr>
                      <th colspan="2" style="color: ivory">
                        FA-{{ forloop.index | prepend: '00' | slice: -2, 2 }} {{ fauna.species }}
                      </th>
                    </tr>
                    <tr>
                      <td>lives in..</td>
                      <td>{{ fauna.habitat }}</td>
                    </tr>
                    <tr>
                      <td>eats...</td>
                      <td>{{ fauna.diet }}</td>
                    </tr>
                    <tr>
                      <td>discovered by</td>
                      <td>
                        {% if fauna.credit_url %}
                          <a href="{{ fauna.credit_url }}" target="_blank">{{ fauna.contributor }}</a>
                        {% else %}
                           {{ fauna.contributor }}
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row dex_style">
                <div class="block description">{{ fauna.description }}</div>
              </div>
            </div>
          {% endfor %}
        </div> 
      </div>   
    </div>

    <div class="tab_content" id="content-flora">
      <div class="row" style="align-items: center">
        <div class="block list">
          {% assign floraList = site.data.ffindex | where: "type", "flora" %}
          {% for flora in floraList %}
            <div class="list_item" data-name="{{ flora.species }}">
              <div style="color: tomato">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</div>
              <div>{{ flora.species }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="block" style="flex: 4">
          {% for flora in floraList %}
            <div class="dex" data-title="{{ flora.species }}" style="display: none">
              <div class="row dex_style">
                <div class="block" style="display: flex; justify-content: center; align-items: center;">
                  <img src="{{ flora.image }}">
                </div>
                <div class="block">
                  <table>
                    <tr>
                      <th colspan="2" style="color: ivory">
                       FL-{{ forloop.index | prepend: '00' | slice: -2, 2 }} {{ fauna.species }}{{ flora.species }}
                      </th>
                    </tr>
                    <tr>
                      <td>lives in..</td>
                      <td>{{ flora.habitat }}</td>
                    </tr>
                    <tr>
                      <td>eats...</td>
                      <td>{{ flora.diet }}</td>
                    </tr>
                    <tr>
                      <td>discovered by</td>
                      <td>
                        {% if flora.credit_url %}
                          <a href="{{ flora.credit_url }}" target="_blank">{{ flora.contributor }}</a>
                        {% else %}
                           {{ flora.contributor }}
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row dex_style">
                <div class="block description">{{ flora.description }}</div>
              </div>
            </div>
          {% endfor %}
        </div>  
      </div>  
    </div>

    <div class="tab_content" id="content-submit">
      <iframe data-tally-src="https://tally.so/embed/npz6rb?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="636" frameborder="0" marginheight="0" marginwidth="0" title="fauna/flora index: submission"></iframe>
      <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
    showTab('fauna');
  };

  function showTab(tabId) {
    const allTabs = document.querySelectorAll('.tab');
    const allTabContents = document.querySelectorAll('.tab_content');
    
    allTabs.forEach(tab => tab.classList.remove('active'));
    allTabContents.forEach(content => content.classList.remove('active'));

    const allListItems = document.querySelectorAll('.list_item');
    const allDexItems = document.querySelectorAll('.dex');
    allListItems.forEach(item => item.classList.remove('selected'));
    allDexItems.forEach(dex => dex.style.display = 'none');

    const activeTab = document.getElementById('tab-' + tabId);
    const activeTabContent = document.getElementById('content-' + tabId);
    activeTab.classList.add('active');
    activeTabContent.classList.add('active');
  }

  const species = document.querySelectorAll('.list_item');

  species.forEach(species => {
    species.addEventListener('click', () => {
      const name = species.getAttribute('data-name');
      
      const dex = document.querySelectorAll('.dex');
      dex.forEach(dex => {
        if (dex.getAttribute('data-title') === name) {
          dex.style.display = 'block';
        } else {
          dex.style.display = 'none';
        }
      });
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const speciesElements = document.querySelectorAll('.list_item');

    speciesElements.forEach(function(species) {
      species.addEventListener('click', function() {
        speciesElements.forEach(function(s) {
          s.classList.remove('selected');
        });
        
        species.classList.add('selected');
      });
    });
  });
</script>
