---
layout: world
title: laboratory
permalink: /laboratory

---
<style>
  :root {
    --shu: olive;
    --mu: PaleGoldenRod;
    --ku: tomato;

    --gu: DarkKhaki;
    --vu: beige;
  }
</style>

<div class="block">
  <table>
    <tr>
      <td class="header">project</td>
      <td class="header">status</td> 
      <td class="header">contributor(s)</td>
    </tr>
    {% for page in site.worlds %}
      {% if page.permalink contains "/laboratory/" %}
        <tr>
          <td><a href="{{ page.permalink }}">{{ page.title }}</a></td>
          <td>accepting submissions</td> 
          <td>kyu, dizzy, community</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>