*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --shu: gray;
  --mu: whitesmoke;
  --ku: blue;

  --gu: gainsboro;
  --vu: white;
}

body {
  margin: 0 auto;
  color: var(--shu);
  background: var(--vu);
  font-family: uni;
  letter-spacing: 1px;
  image-rendering: crisp-edges;
}

pre {
  padding: 0;
  margin: 0;
  font-family: uni;
}

a {
  color: var(--ku);
}

a:hover {
  background: linear-gradient(0deg, var(--ku) -200%, transparent 90%);
}

hr {
  color: var(--mu);
}

h1 {
  all: unset;
  font-weight: bold;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--mu);
}

.header {
  background: var(--gu);
  color: var(--vu);
}

li {
  list-style: none;
  padding: 0;
}

nav {
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
  align-items: center; 
}

nav a {
  width: 100%;
  text-decoration: none;
  space-between: 2.5px;
  text-align: center;
  background: var(--mu);
  padding: 5px;
  margin-right: 5px;
}

nav a:last-child {
  margin-right: 0; 
}

nav a:hover, .current {
  color: var(--shu);
  background: linear-gradient(0deg, var(--mu) 20%, var(--shu) 300%);
}

.current:hover {
  cursor: default;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  align-items: stretch;
}

.block {
  display: block;
  margin: 5px;
  flex: 1;
  overflow-y: auto;
}

.title {
  color: var(--shu);
  font-weight: normal;
  white-space: nowrap;
  font-size: 30px;
  background: none;
  flex: 1;
  padding: 0;
}

.path {
  margin-bottom: 20px;
  background: var(--mu);
}

@font-face {
    font-family: "uni";
    src: url("/assets/fonts/uni.ttf") format('truetype');
}

@media only screen and (max-width: 800px) {
  #container {
    width: 98%;
  }

  .row {
    flex-wrap: wrap;
  }

  nav {
    width: 98%;
  }

  .block {
    flex: 100%;
  }
}

@media only screen and (max-width: 432px) {
  nav a {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 40px;
  }
}
